body {
    background-color: rgb(119, 119, 119);
}

#canvas {
    border-style: solid;
    border-width: 5px;
    border-color: beige;

    display: inline-block;
}

#canvas_ui {
    border-style: solid;
    border-width: 5px;
    border-color: beige;

    display: inline-block;
}

#MenuShow {
    position: absolute;

    left: 25%;

    width: 50%;
    height: 80%;


    text-align: center;
}

#Menu {
    background-color: beige;

    border-style: solid;
    border-width: 3px;
    border-color: rgb(239, 233, 218);

    width: 50%;
    height: 100%;

    display: inline-block;

    font: 24px Verdana;

    color: white;

}

#StartCtl {
    background-color: rgb(160, 160, 150);

    border-style: solid;
    border-width: 3px;
    border-color: rgb(239, 233, 218);

    width: 40%;
    height: 80%;

    display: inline-block;
}

#nameinput {
    background-color: rgb(67, 65, 65);
    color: white;
    font: 14px Verdana;

    text-align: center;

    resize: none;

    border-radius: 3px;
}

#selectChess {
    background-color: rgb(67, 65, 65);
    color: white;
    font: 14px Verdana;

    width: 25%;
    height: 5%;
}

#ok_btn {
    background-color: rgb(67, 65, 65);
    color: white;
    font: 14px Verdana;

    width: 30%;
    height: 5%;
}

#reset_btn {
    background-color: rgb(67, 65, 65);
    color: white;
    font: 14px Verdana;

    width: 30%;
    height: 5%;
}

#close_btn {
    background-color: rgb(67, 65, 65);
    color: white;
    font: 14px Verdana;

    width: 30%;
    height: 5%;
}